.strikethrough {
    position: relative;
    opacity: 0.5;
}

.strikethrough::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    z-index: -120;
    background-color: #070707;
    animation:1s alternate sun-rise forwards;
}
@keyframes sun-rise {
    from {
        width: 0;
    }
    to {
        width: 90%;

    }
}